.card {
  position: relative;
  display: flex;
}

.card__content {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  padding: 30px;
}

.card__title {
  margin-bottom: 30px;
}

.card__desc {
  margin-bottom: 30px;
}