.menu__list {
  display: flex;
  gap: calc(10px + 20 * (100vw /1280));
  align-items: center;
  flex-shrink: 3;
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  transition: color .2s ease-in;
  &:hover {
    color: #888;
  }
}