.modal.open .modal-overlay,
.modal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal.open .modal-window {
  transform: translateY(100px);
}

.modal.open .modal-overlay {
  background: rgba(0, 0, 0, .5);
}

.modal.hide .modal-window {
  transform: translateY(-200px);
}

.modal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: background .2s ease-in;
}

.modal-window {
  width: 500px;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(-200px);
  height: 200px;
  color: #000;
  transition: transform .2s ease-in;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #333;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  & p {
    margin: 0 0 5px;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 5px 10px;
  border-top: 1px solid #333;
}





.wakeup {
  // font-family: 'DXS Yagi';
  padding-top: 80px;
  color: #fff;
  font-size: calc(60px + 100 * (100vw/1208));;
  font-weight: 800;
  animation: 10s blinkInfinite infinite ease-in-out;
}
@keyframes blinkInfinite {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  
  50% {
    opacity: 1;
    filter: blur(0px);
  }
  
  100% {
    opacity: 0;
    filter: blur(6px);
  }
}




