.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(20px + 100 * (100vw/1208));
}

.partners__title {
  margin-bottom: 16px;
}

.partners__desc {
  margin-bottom: 42px;
}