.tools__items {
  display: flex;
}

.tools__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tools__content {
  padding: 0px calc(20px + 80 * (100vw/1208));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


@media (max-width: 768px) {
  .tools__content {
    padding: 10px 16px;
  }
}

.tools__subtitle {
  margin-bottom: 8px;
}

.tools__title {
  margin-bottom: 16px;
}

.tools__desc {
  margin-bottom: 20px;
  overflow: hidden;
  flex-shrink: 3;
}

.tools__img {
  display: block;
  width: 100%;
  height: 100%;
}

.tools__picture {
  flex: 1;
  position: relative;
}

.tools__frame {
  position: absolute;
  right: 3%;
  bottom: 4%;
}